@font-face {
    font-family: 'roboto-regular';
    src: url(./polices/roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat',sans-serif;
    src: url(./polices/Montserrat.ttf);
}
@font-face {
    font-family: 'playfairdisplay';
    src: url(./polices/playfairdisplay/PlayfairDisplay-Regular.ttf);
}
:root{
    --roboto-regular:'roboto-regular'sans-serif;
    --montserrat:'Monserrat',sans-serif;
    --playfairdisplay:'playfairdisplay',sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(216, 211, 211);
    overflow-x: hidden;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.main .img{
    width: 370px;
    height: 515px;
    float: right;
    margin-right: 150px;
    margin-top: 5%;
    background: linear-gradient(45deg,rgb(127, 131, 126),rgb(143, 136, 136),rgb(224, 222, 222));
}
.main .img img{
   width: 350px;
   border: 5px solid rgb(36, 35, 34);
   outline: 5px solid rgb(100, 99, 97);
   border-radius: 10px;
   filter: drop-shadow(2px 30px 15px rgb(0, 0, 0)) saturate(1.5);
}

.main .aboutMe{
    margin-left: 200px;
}
.main .aboutMe .description{
    text-align: center;
}
.main .aboutMe .description p{
    width: 550px;
    font-size: 1.25rem; 
    margin-bottom: 50px;
    font-family: var(--montserrat);
    text-align: justify;
    font-weight: 500;
}
.main .aboutMe .description h1{
    font-size: 3.2rem;
    text-transform: capitalize;
    text-align: left;
    font-family: var(--montserrat);
    font-weight: 500;
    margin-top: 80px;
}
.main .aboutMe .description .icones{
    margin-top: 20px;
}
.main .aboutMe .description .icones a{
    text-decoration: none;
    padding: 25px;
    margin-left: 7px;
    background: rgb(198, 198, 201);
    border-radius: 7px;
    box-shadow: 2px 2px 10px rgba(131, 129, 129, 0);
}
.main .aboutMe .description .icones a:hover{
    transition: .5s;
    background: rgb(53, 52, 52);
}
.main .aboutMe .description .icones a:hover i{
    transition: .5s;
    color: rgb(201, 198, 198);
}
.main .aboutMe .description .icones a>i{
    font-size: 1.5rem;
    color: #000;
    margin-top: 20px;
}




@media (prefers-color-scheme:dark){
    body{
    background: rgb(30, 64, 75);
    color: rgb(214, 214, 214);
    }
} 

@media  screen and (max-width:1280px) {
    .main .img{
        width: 300px;
        height: 430px;
        margin-right: 80px;
        margin-top: 10%;
    }
    .main .img img{
        width: 300px;
    }
    .main {
        justify-content: space-around;
    }
    .main .aboutMe .description p{
        font-size: 1.2rem;
        width: 400px;
    }
}

@media  screen and (max-width:1100px) {
    .main .aboutMe .description p{
        font-size: 1.19rem;
        width: 350px;
    }
    .main .aboutMe{
        margin-right: 80px;
    }
    .main .aboutMe .description h1{
        font-size: 3rem;
    }
    .main .aboutMe .description .icones a{
        padding: 20px;
    }
}

@media  screen and (max-width:955px){
    .main{
        justify-content: space-between;
       
    }
    .main .aboutMe{
        margin-right: 100px;
    }
    .main .aboutMe .description .icones a{
        padding: 13px;
    }
   
}

@media  screen and (max-width:860px){
    
    .main{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 50px;
    }
    .main .aboutMe{
        margin-right: -100px ;
    }
    .main .aboutMe .description .icones{
        margin-bottom: 50px;
        margin-right: 50px;
    }
    .main .aboutMe .description h1{
        font-size: 2.5rem;
    }
}
@media  screen and (max-width:490px){
    body{
    overflow-x: hidden;

    }
    .main{
        justify-content: center;
        align-items: center;
    }
    .main .img{
        margin-left: 130px;
    }
    .main .img img{
        margin-left: 0px;
        max-width: 300px;
    }
    .main .aboutMe{
        margin-left: 10px;
    }
    .main .aboutMe .description{
        text-align: center;
    }
    .main .aboutMe .description h1{
        text-align: justify;
        font-size: 2.5rem;
    }
    .main .aboutMe .description p{
        margin-right: 50px;
        width: 300px;
        font-size: 1.2rem;
    }
}
